#DIV1{
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 320px;
    color: aquamarine;
}

html{
    background-color: aquamarine;
}